<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/styles/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
        <header>
            <div class="container">
                <div class="row header">
                    <div class="col-md-12 title">
                        <h1>Mission to Mars</h1>
                    </div>
                    <div class="col-md-12 scrape_btn">
                        <form action="/scrape">
                            <input type="submit" value="Scrape New Data" />
                        </form>
                    </div>
                </div>
            </div>
        </header>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 news">
                    <h2>Latest Mars News</h2>
                    <h4>{{mars_contents["news_titles"]}}</h4>
                    <p>{{mars_contents["news_paras"]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 featured">
                    <h2>Featured Mars Image</h2>
                    <img src="{{mars_contents["featured_image_url"]}}" alt="Featured Image" width="100%"></img>
                </div>
                <div class="col-md-4 weather_facts">
                    <div class="row">
                        <div class="col-md-12 weather">
                            <h5>Current Weather on Mars</h5>
                            <p>{{mars_contents["mars_weather"]}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 facts">
                            <h3>Mars Facts</h3></row>
                            <div>{{mars_contents["mars_facts"]}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 hemisphere">
                    <h1>Mars Hemispheres</h1>
                    <div class="col-md-6">
                        <img src="{{mars_contents["hemisphere_image_urls"][0]["image_url"]}}" width="100%"></img>
                        <h2>{{mars_contents["hemisphere_image_urls"][0]["title"]}}</h2>
                    </div>
                    <div class="col-md-6">
                        <img src="{{mars_contents["hemisphere_image_urls"][1]["image_url"]}}" width="100%"></img>
                        <h2>{{mars_contents["hemisphere_image_urls"][1]["title"]}}</h2>
                    </div>
                    <div class="col-md-6">
                        <img src="{{mars_contents["hemisphere_image_urls"][2]["image_url"]}}" width="100%"></img>
                        <h2>{{mars_contents["hemisphere_image_urls"][2]["title"]}}</h2>
                    </div>
                    <div class="col-md-6">
                        <img src="{{mars_contents["hemisphere_image_urls"][3]["image_url"]}}" width="100%"></img>
                        <h2>{{mars_contents["hemisphere_image_urls"][3]["title"]}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>

<!-- <p>{{mars_contents}}</p> -->
</html>