<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
        <header>
            <div class="container">
                <div class="row header">
                    <div class="col-md-12 title">
                        <h1>Mission to Mars</h1>
                    </div>
                    <div class="col-md-12 scrape_btn">
                        <button type="button">Scrape New Data</button>
                    </div>
                </div>
                <div class="row">
                    
                </div>
            </div>
        </header>
    <body>

    </body>

</html>